button {
    font-family: 'Montserrat';
    font-size: 10vh;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

@media only screen
and (device-width: 390px)
and (device-height: 844px)
and (-webkit-device-pixel-ratio: 3) {
    button {
        font-size: 5vh;
    }
}