h1 {
    font-family: 'Montserrat';
    color: #FCFAF9;
    font-size: 10vh;
    text-align: center;
}

@media only screen
and (device-width: 390px)
and (device-height: 844px)
and (-webkit-device-pixel-ratio: 3) {
    h1{
        font-size: 5vh;
    }
}